<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>CameraRoll</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CameraRoll</string>
				</array>
			</dict>
			<key>PhotoPlenka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhotoPlenka</string>
				</array>
			</dict>
			<key>PhotoPlenkaSimple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhotoPlenkaSimple</string>
				</array>
			</dict>
			<key>RewindMap</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RewindMap</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>CameraRoll</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>CameraRoll</string>
				</array>
			</dict>
			<key>PhotoPlenka</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhotoPlenka</string>
				</array>
			</dict>
			<key>PhotoPlenkaSimple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PhotoPlenkaSimple</string>
				</array>
			</dict>
			<key>RewindMap</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RewindMap</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>GOOGLE_MAPS_API_KEY</key>
	<string>$(GOOGLE_MAPS_API_KEY)</string>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is needed to take comparison photos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App needs this access to save images to your library</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is needed to show images around you</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
