name: build
on: [pull_request]
permissions:
  contents: read
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Show SDKs & runtimes
        run: |
          xcodebuild -showsdks
          xcrun simctl list runtimes
      - name: Ensure iOS platform runtimes
        run: sudo xcodebuild -downloadPlatform iOS
      - name: Create Secrets.xcconfig
        run: |
          mkdir -p Config
          echo "GOOGLE_API_KEY = ${{ secrets.GOOGLE_API_KEY }}" > Config/Secrets.xcconfig
      - name: Resolve Swift packages
        run: xcodebuild -resolvePackageDependencies
      - name: Build
        run: xcodebuild -project Rewind.xcodeproj -scheme Rewind -sdk iphonesimulator -configuration Release -destination 'generic/platform=iOS Simulator' build
