name: build
on: [pull_request]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with: { xcode-version: latest-stable }
      - name: Show SDKs & runtimes
        run: |
          xcodebuild -showsdks
          xcrun simctl list runtimes
      - name: Ensure iOS platform runtimes
        run: |
          sudo xcodebuild -downloadPlatform iOS
      - name: Resolve Swift packages
        run: xcodebuild -resolvePackageDependencies
      - name: Build
        run: >
          xcodebuild
          -project Rewind.xcodeproj
          -scheme Rewind
          -sdk iphonesimulator
          -configuration Release
          build